@model List<ResultCounterDto>

@{
    ViewData["Title"] = "Sayaçlar Listesi";
    Layout = "~/Views/Shared/_AdminTemplateLayout.cshtml";
    int Count = 0;
}

@if (Model.Count == 0)
{
    <div class="alert alert-danger solid ">
        <strong>Error!</strong> Sunucuda Veri Bulunamadı!
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sayaç Tablosu(@Model.Count)</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Başlık</th>
                                    <th>Değer</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Counters in Model)
                                {
                                    Count++;

                                    <tr>
                                        <td>@Count</td>
                                        <td>@Counters.Title</td>
                                        <td>@Counters.Count</td>
                                        <td>
                                            <a asp-controller="Counter" asp-action="DeleteCounter" asp-route-id="@Counters.Id" class="btn btn-outline-danger">Sil</a>
                                            <a asp-controller="Counter" asp-action="UpdateCounter" asp-route-id="@Counters.Id" class="btn btn-outline-warning">Güncelle</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<a asp-controller="Counter" asp-action="CreateCounter" class="btn btn-outline-primary">Yeni Sayaç Ekle</a>